html, body {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	width: 100vw;
}

body {
	background-image: url('/imgs/bg-rac-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
